.container.steps
  .row
    .col-md-12
      .form-group
        = form_for @job, html: { multipart: true } do |f|
          .form-group
            - if @job.errors.any?
              #error_explanation
                %h2= "#{pluralize(@job.errors.count, "error")} prohibited this job from being saved:"
                %ul
                  - @job.errors.full_messages.each do |msg|
                    %li= msg

          
          %h2 The Job

          .row
            .col-md-6
              = f.label :job_title
              = f.text_field :title, class: 'form-control'
          %br

          .row
            .col-md-6
              = f.label :job_url
              = f.text_field :job_url, class: 'form-control'
          %br

          .row
            .col-md-6
              = f.label :employer_careers_url
              = f.text_field :employer_careers_url, class: 'form-control'
          %br

          .row
            .col-md-10
              = f.label :description
              %p.text-muted Markdown, ie. (## Section headings - h2##, '-' for bullets)
              = f.text_area :description, rows: 10, class: 'form-control'

          %br

          .row
            .col-md-10
              = f.label :skill_tags
              %p.text-muted Specific skill tags in decreasing importance, ie. "Ruby on Rails, Ruby, CSS, Haml, Java"
              = f.text_field :skill_list, value: f.object.skill_list.join(","), class: 'form-control'

          %br

          %hr

          %h2 Organization

          .row
            .col-md-6
              = f.label :name
              = f.text_field :company_name, class: 'form-control'

              %br

              = f.label :url
              = f.text_field :company_url, class: 'form-control'        

              %br

              = f.label :logo
              = f.file_field :logo

              %br

              = f.label :employer_twitter_account
              = f.text_field :employer_twitter_account, class: 'form-control' 

              %br

              = f.label :email
              %p.text-muted Reciept and all communications sent here
              = f.email_field :company_email, class: 'form-control'   


          %hr

          %h2 Job Details

          .row
            .col-md-6
              = f.radio_button :is_full_time, true
              = f.label :is_full_time, "Full time"

              = f.radio_button :is_full_time, false
              = f.label :is_full_time, "Part time"


          %hr

          %h2 How to Apply

          .row
            .col-md-10
              %p.text-muted Explain how to apply, ie. "Please send a resume and cover letter to hr@example.com"
              = f.text_area :how_to_apply, class: 'form-control'



              %br
              .actions
                = f.submit 'Save and Preview'
