.container
  .row
    .col-md-12
      .form-group
        = form_for @job do |f|
          .form-group
            - if @job.errors.any?
              #error_explanation
                %h2= "#{pluralize(@job.errors.count, "error")} prohibited this job from being saved:"
                %ul
                  - @job.errors.full_messages.each do |msg|
                    %li= msg

          .row
            .col-md-6
              = f.label :job_title
              = f.text_field :title, class: 'form-control'
          %br

          .row
            .col-md-12
              = f.label :description
              %p.text-muted Markdown can be used
              = f.text_area :description, rows: 10, class: 'form-control'

          %br

          .row
            .col-md-12
              = f.label :tagsd
              %p.text-muted Separate with commas: Ruby on Rails, Ruby, CSS, Haml, Java
              = f.text_field :tag_list, class: 'form-control'

          %br

          %hr

          %h3.text-danger Organization

          .row
            .col-md-6
              = f.label :name
              = f.text_field :company_name, class: 'form-control'

              %br

              = f.label :url
              = f.text_field :company_url, class: 'form-control'        

              %br

              = f.label :email
              %p.text-muted Reciept and all communications sent here
              = f.text_field :company_email, class: 'form-control'   


          %hr

          %h3.text-danger Where to Apply

          .row
            .col-md-6
              = f.label :url
              = f.text_field :url, class: 'form-control'

              %br

              = f.label :email
              = f.text_field :email, class: 'form-control'


              %br
              .actions
                = f.submit 'Save'
