.container
  .row
    .col-md-10
      %br
      - unless @preview
        
        %p= link_to "<< Back to all Jobs", root_path
        


      - if @preview
        %h1
          STEP 2 - PREVIEW

        %hr

      %h2.h2= @job.title

      %h4.h4= @job.company_name
      %p= link_to @job.company_url

      
      %p= @job.slug

      %br

      .job-description= Redcarpet::Markdown.new(Redcarpet::Render::HTML, extensions: {}).render(@job.description).html_safe

      %br

      %h4.h4 JOB DETAILS
      .label.label-info
        Remote
      &nbsp;
      .label.label-info
        = @job.is_full_time ? 'Full Time' : 'Part Time'
      

      %br
      %br
      %h4.h4 SKILL TAGS
      - if @job.skill_list.any?
        - @job.skill_list.each do |tag|
          .label.label-default=tag
        %br
        %br

      - unless @job.how_to_apply.blank?

        .alert.alert-info
          %h3.h3.no-top-margin APPLY

          = @job.how_to_apply.html_safe


      - if @job.published_at
        %br
        %br
        %p.text-muted
          Job posted
          = @job.published_at.strftime("%b %e")


      - if @preview
        %hr
        %br
        = link_to 'Next Step: Payment', new_payment_path(job_id: @job.id)
        \|
        = link_to 'Edit', edit_job_path(@job)
        \|
        = link_to 'Back', jobs_path

      %br