.container
  .row
    .col-md-8

      - if @preview
        %h1
          STEP 2 - PREVIEW

        %hr

      .pull-right= image_tag(@job.logo.url(:thumb)) if @job.logo.exists?
      %h1.h1= @job.title

      %h4.h4
        - if @job.company_url.blank?
          = @job.company_name
        - else  
          = link_to(@job.company_name, @job.company_url, target: '_blank')
          %span.text-muted= fa_icon("external-link")



      - if @job.published_at
        %br
        %p.text-muted
          Posted:
          = distance_of_time_in_words(@job.published_at, Time.now)
          ago

      %br

      .job-description= Redcarpet::Markdown.new(Redcarpet::Render::HTML, autolink: true).render(@job.description).html_safe

      %br

      - unless @job.how_to_apply.blank?
        = Redcarpet::Markdown.new(Redcarpet::Render::HTML, autolink: true).render(@job.how_to_apply).html_safe

      - unless @job.job_application_url.blank?
        = link_to "Apply", @job.job_application_url, class: 'btn pop'




      - if @preview
        %hr
        %br
        = form_tag job_path(job_id: @job.id, publish: true), method: :put do
          =  submit_tag 'Next Step: Publish'

        \&nbsp|&nbsp
        = link_to 'Edit', edit_job_path(@job)


      - unless @preview
        %br
        %br
        %p= link_to "<< Back to all Jobs", root_path


      %br
    .col-md-4
      %h4.h4 JOB DETAILS
      
      - unless @job.job_url.blank?
        = link_to "Employer Job Post", @job.job_url, target: '_blank'
        %span.text-muted= fa_icon("external-link")
        %br
      - unless @job.employer_careers_url.blank?   
        = link_to "Careers site", @job.employer_careers_url, target: '_blank'
        %span.text-muted= fa_icon("external-link")
        %br
        
      .label.label-info
        Remote
      &nbsp;
      .label.label-info
        = @job.is_full_time ? 'Full Time' : 'Part Time'

      %br
      %br

      %h4.h4 SKILL TAGS
      %p.tag
        - if @job.skill_list.any?
          - @job.skill_list.each do |tag|
            %span.btn.btn-secondary.btn-tag=tag.upcase
          %br
          %br

      %br
      %br

      %h5.h5 Related Jobs

      %table.table.table-sm
        - @jobs.each do |job|
          %tr
            %td= link_to job.title, job_path(job)