.container
  .row
    .col-md-8
      %br



      - if @preview
        %h1
          STEP 2 - PREVIEW

        %hr

      %h1.h1= @job.title

      %h4.h4= @job.company_name
      
      %p
        = link_to @job.company_url
        %br
        - unless @job.employer_careers_url.blank?
          Careers site:
          = link_to @job.employer_careers_url


      - if @job.published_at
        %br
        %p.text-muted
          Job posted
          = @job.published_at.strftime("%b %e")

      %br

      .job-description= Redcarpet::Markdown.new(Redcarpet::Render::HTML, extensions: {}).render(@job.description).html_safe

      %br

      %h4.h4 JOB DETAILS
      - unless @job.job_url.blank?
        %p
          Job URL:
          = link_to @job.job_url

      .label.label-info
        Remote
      &nbsp;
      .label.label-info
        = @job.is_full_time ? 'Full Time' : 'Part Time'
      

      %br
      %br
      %h4.h4 SKILL TAGS
      - if @job.skill_list.any?
        - @job.skill_list.each do |tag|
          .label.label-default=tag
        %br
        %br

      - unless @job.how_to_apply.blank?

        .alert.alert-info
          %h3.h3.no-top-margin APPLY

          = @job.how_to_apply.html_safe





      - if @preview
        %hr
        %br
        = link_to 'Next Step: Payment', new_payment_path(job_id: @job.id)
        \&nbsp|&nbsp
        = link_to 'Edit', edit_job_path(@job)


      - unless @preview
        
        %p= link_to "<< Back to all Jobs", root_path


      %br
    .col-md-4
      .h5 Related Jobs

      %table.table.table-sm
        - @jobs.each do |job|
          %tr
            %td= link_to job.title, job_path(job)