.container
  .row
    .col-md-10

      - unless @preview
        %p= link_to "<< Back to all Jobs", root_path
        %br


      - if @preview
        %h1
          STEP 2 - PREVIEW

        %hr

      %h1.h1= @job.title

      %h2.h2= @job.company_name
      %p= link_to @job.company_url

      %br

      .job-description= Redcarpet::Markdown.new(Redcarpet::Render::HTML, extensions: {}).render(@job.description)

      - unless @job.how_to_apply.blank?

        .alert.alert-info
          %h3.h3.no-top-margin APPLY

          = @job.how_to_apply


      - if @job.published_at
        %br
        %p.text-muted
          Job posted
          = @job.published_at.strftime("%b %e")


      - if @preview
        %hr
        %br
        = link_to 'Next Step: Payment', new_payment_path(job_id: @job.id)
        \|
        = link_to 'Edit', edit_job_path(@job)
        \|
        = link_to 'Back', jobs_path

      %br