.container
  .row
    .col-md-12
      .card-columns
        - for job in @jobs
          .card
            .card-block
              %h2.job-title= link_to job.title.truncate(40), job_path(job), class: 'link-unstyled'
              / %h4.h4.card-title= link_to job.title.truncate(40), job
              .job-company= link_to job.company_name.truncate(40), job.company_url, class: 'card-link link-unstyled'
              %p.card-text
                %small.text-muted
                  Posted:
                  = job.published_at.strftime('%b-%e')

              .card-text.skill-tags
                - if job.skill_list.any?
                  - job.skill_list[0..7].each do |tag|
                    .label.label-default= tag
                  - if job.skill_list.size > 8
                    = '...'





