.container

  .row
    .col-md-12
      %ul.nav.nav-pills
        %li.nav-item= link_to 'All', root_path, class: "nav-link #{'active' unless params[:tag]}"
        - ActsAsTaggableOn::Tag.most_used(8).each do |tag|
          %li.nav-item= link_to tag, root_path(tag: tag.name), class: "nav-link #{'active' if params[:tag] == tag.name}"


  %br

  .row
    .col-md-12
      .card-columns
        - for job in @jobs
          .card
            .card-block
              %h6.card-title= link_to job.company_name.truncate(40), job.company_url

              %h4.card-subtitle= link_to job.title.truncate(40), job_path(job)
              / %h4.h4.card-title= link_to job.title.truncate(40), job
              %p.card-text
                Posted:
                = job.published_at.strftime('%b-%e')

              .card-text.skill-tags
                - if job.skill_list.any?
                  - job.skill_list[0..7].each do |tag|
                    .label.label-default= tag
                  - if job.skill_list.size > 8
                    = '...'





