%br

= render 'payments/march_madness'

.container
  .row
    .col-md-8
      .card-columns
        - for job in @jobs
          .card
            .card-block.text-xs-center
              %h5.h5= link_to job.title.truncate(40), job
              / %h4.h4.card-title= link_to job.title.truncate(40), job
              .card-text.skill-tags
                - if job.skill_list.any?
                  - job.skill_list[0..5].each do |tag|
                    .label.label-default= tag
                  - if job.skill_list.size > 6
                    = '...'
                %br
                = link_to job.company_name.truncate(40), job.company_url, class: 'card-link'
              %p.card-text.text-xs-center
                %small.text-muted
                  = job.published_at.strftime('%b-%e')


        
    .col-md-4
      .card.employers
        .card-block
          %h3.h3.text-xs-center.no-top-margin EMPLOYERS
          %p.text-xs-center
            Post your virtual job.
            %br
            $100/30 days
          .text-xs-center= button_to "Post a Job!", new_job_path, method: :get, class: 'pop btn navbar-btn btn-success'
          
        
      .card
        .card-block
          %h3.h3.text-xs-center.no-top-margin DEVELOPERS
          %p.text-xs-center Find your virtual job.
          .text-xs-center
            = link_to "Follow @VirtualDevJobs", "https://twitter.com/VirtualDevJobs", class: "twitter-follow-button", "data-show-count" => false, "data-size" => "large"

          .text-xs-center= link_to "Get notified of jobs",  new_notification_path  

      
      