.container
  .row
    .col-md-2
    .col-md-8
      %h2.text-center.no-top-margin
        Virtual Developer Jobs is a virtual/remote jobs site for developers working remotely, and for organizations that want to look globally, not just locally.


= render 'payments/march_madness'

.container
  .row
    .col-md-6
      .well.employers
        %h3.h3.text-center.no-top-margin EMPLOYERS
        %p.text-center Post your virtual job.
        .text-center= button_to "Post a Job! - $100/30 days", new_job_path, method: :get, class: 'pop btn btn-lg navbar-btn btn-success'
      
    .col-md-6
      .well
        %h3.h3.text-center.no-top-margin DEVELOPERS
        %p.text-center Find your virtual job.
        .text-center
          = link_to "Follow @VirtualDevJobs", "https://twitter.com/VirtualDevJobs", class: "twitter-follow-button", "data-show-count" => false, "data-size" => "large"

        .text-center= link_to "Get notified of jobs",  new_notification_path

  .row
    .col-md-4
    .col-md-4
      .text-center
        
  %br

  .row
    .col-md-12
      .table-responsive
        %table.table.table-hover.jobs
          %thead
            %tr
              %th.job.text-muted Job
              %th.text-muted Skills
              %th.text-muted Organization
              %th.text-muted.text-right Posted
          - @jobs.each do |job|
            %tr
              %td.job
                %strong= link_to job.title.truncate(40), job
              %td
                - if job.skill_list.any?
                  - job.skill_list[0..5].each do |tag|
                    .label.label-default= tag
                  - if job.skill_list.size > 6
                    = '...'
              %td= link_to job.company_name.truncate(50), job
              %td.text-right= job.published_at.strftime("%b %e")



      

      
      