.container

  .row
    .col-md-12
      %ul.nav.nav-pills
        %li.nav-item= link_to 'All', root_path, class: "nav-link pop #{'active' unless params[:tag]}"
        %li.nav-item= link_to 'Front-End', root_path(tag: 'front-end-jobs'), class: "nav-link pop #{'active' if params[:tag] == 'front-end-jobs'}"
        - ActsAsTaggableOn::Tag.most_used(8).each do |tag|
          %li.nav-item= link_to tag, root_path(tag: tag.name), class: "nav-link pop #{'active' if params[:tag] == tag.name}"

  %br




  .row
    .col-md-12
      .card-columns
        - for job in @jobs
          .card.job
            .card-block
              %h5.card-title= link_to job.company_name.truncate(40), job.company_url

              %h2.card-subtitle= link_to job.title.truncate(40), job_path(job)
              / %h4.h4.card-title= link_to job.title.truncate(40), job
              %p.card-text
                Posted:
                = job.published_at.strftime('%b-%e')

              / .job-description
              /   = job.description

              .card-text.skill-tags
                - rails_tag = false
                - if job.skill_list.any?
                  - job.skill_list[0..7].each do |tag|
                    - if (tag == 'Ruby on Rails' || tag == 'Rails') && rails_tag == false
                      %span= image_tag "122px-Ruby_on_Rails.png", height: '30'
                      - rails_tag = true
                    - elsif tag == 'Ruby' 
                      %span= image_tag "ruby-icon.png", height: '30'
                    - elsif tag == 'Ember.js' || tag == 'Ember'
                      %span= image_tag "ember-icon.png", height: '30'
                    - elsif tag == 'Javascript'
                      %span= image_tag "javascript.png", height: '30'
                    - elsif tag == 'MariaDB'
                      %span= image_tag "mariadb-icon.png", height: '30'
                    - elsif tag == 'Node.js'
                      %span= image_tag "nodejs-icon.png", height: '30'
                    - elsif tag == 'MySql'
                      %span= image_tag "mysql-icon.png", height: '30'
                    - elsif tag == 'Angular' || tag == 'Angular.js'
                      %span= image_tag "angular-icon.png", height: '30'
                    - elsif tag == 'Ruby on Rails' || tag == 'Rails'
                      - nil
                    - else
                      .label.label-default= tag
                  - if job.skill_list.size > 8
                    = '...'


#card-description
  Hello
  %br
  Good bye


