.container
  .row
    .col-md-2
    .col-md-8
      %h2.text-center
        Virtual Developer Jobs is a job site solely focused on virtual/remote jobs for developers working from home or anywhere. 


= render 'payments/march_madness'

.container
  .row
    .col-md-6
      .well.employers
        %h3.h3.text-center.no-top-margin EMPLOYERS
        .text-center
          .text-center= button_to "Post a Job! - $100/30 days", new_job_path, method: :get, class: 'pop btn btn-lg navbar-btn btn-success'
      
    .col-md-6
      .well
        %h3.h3.text-center.no-top-margin DEVELOPERS
        .text-center
          = link_to "Follow @VirtualDevJobs", "https://twitter.com/VirtualDevJobs", class: "twitter-follow-button", "data-show-count" => false, "data-size" => "large"

        .text-center= link_to "Get notified of jobs",  new_notification_path

  .row
    .col-md-4
    .col-md-4
      .text-center
        
        

  %br



  .row
    .col-md-12
      .table-responsive
        %table.table.table-hover
          %thead
            %tr
              %th Job
              %th Skills
              %th Organization
              %th.text-right Posted
          - @jobs.each do |job|
            %tr
              %td= link_to job.title, job
              %td= job.tag_list.to_s.truncate(150)
              %td= link_to job.company_name, job
              %td.text-right= job.published_at.strftime("%b %e")



      

      
      