.container

  .row
    .col-md-12
      %ul.nav.nav-pills
        %li.nav-item= link_to 'All', root_path, class: "nav-link pop #{'active' unless params[:tag]}"
        %li.nav-item= link_to 'Front-End', root_path(tag: 'front-end-jobs'), class: "nav-link pop #{'active' if params[:tag] == 'front-end-jobs'}"
        - ActsAsTaggableOn::Tag.most_used(8).each do |tag|
          %li.nav-item= link_to tag, root_path(tag: tag.name), class: "nav-link pop #{'active' if params[:tag] == tag.name}"

  %br



  .row
    .col-md-12
      .card-columns
        - for job in @jobs
          %article
            .card.job
              .card-block
                / .pull-right.text-muted.caret-down= fa_icon("caret-square-o-down")
                / .pull-right.text-muted.caret-up= fa_icon("caret-square-o-up")
                .pull-right.close-icon= fa_icon "close 2x"
                %header
                  %h1.card-title= job.title
                  %p.card-subtitle
                    = link_to job.company_name, job.company_url, target: '_blank'
                    %span.text-muted= fa_icon("external-link")
                    %span.text-muted
                      &nbsp; Posted:
                      = job.published_at.strftime('%b-%e')
                
                .description
                  %br
                  %br
                  = Redcarpet::Markdown.new(Redcarpet::Render::HTML, extensions: {}).render(job.description).html_safe

                  %p
                    = link_to job.company_url, target: '_blank'
                    %span.text-muted= fa_icon("external-link")
                    %br
                    - unless job.employer_careers_url.blank?
                      Careers site:
                      = link_to job.employer_careers_url, target: '_blank'
                      %span.text-muted= fa_icon("external-link")



                %br
                .card-text.skill-tags
                  - rails_tag = false
                  - if job.skill_list.any?
                    - job.skill_list[0..7].each do |tag|
                      - if (tag == 'Ruby on Rails' || tag == 'Rails') && rails_tag == false
                        %span= image_tag "122px-Ruby_on_Rails.png", height: '30'
                        - rails_tag = true
                      - elsif tag == 'Ruby' 
                        %span= image_tag "ruby-icon.png", height: '30'
                      - elsif tag == 'Ember.js' || tag == 'Ember'
                        %span= image_tag "ember-icon.png", height: '30'
                      - elsif tag == 'Javascript'
                        %span= image_tag "javascript.png", height: '30'
                      - elsif tag == 'MariaDB'
                        %span= image_tag "mariadb-icon.png", height: '30'
                      - elsif tag == 'Node.js'
                        %span= image_tag "nodejs-icon.png", height: '30'
                      - elsif tag == 'MySql'
                        %span= image_tag "mysql-icon.png", height: '30'
                      - elsif tag == 'Angular' || tag == 'Angular.js'
                        %span= image_tag "angular-icon.png", height: '30'
                      - elsif tag == 'Ruby on Rails' || tag == 'Rails'
                        - nil
                      - else
                        .label.label-default= tag
                    - if job.skill_list.size > 8
                      = '...'



