.container
  .row
    .col-md-12
      %ul.nav.nav-pills.tag-pills
        %li.nav-item= link_to 'All', root_path, class: "nav-link pop #{'active' unless params[:tags]}"

        - @all_tags.each do |tag|
          %li.nav-item
            - if @param_tags && @param_tags.include?(tag)
              - if @param_tags.size == 1
                - tag = "Front-end Jobs" if tag == 'front-end-jobs'
                = link_to tag, root_path, class: "nav-link pop active"
              - else
                = link_to tag, root_path(tags: params[:tags].gsub("_#{tag}","")), class: "nav-link pop active"
            - elsif @param_tags
              = link_to tag, root_path(tags: params[:tags] + '_' + tag), class: "nav-link pop"
            - else
              = link_to tag, root_path(tags: tag), class: "nav-link pop"
  - if @jobs.empty?
    %br
    %br
    %h5
      No jobs. Relax your search items above.
  - if @job_banner
    %br
    .row
      .col-md-12
        %article
          .card.job.card-banner
            .card-block
              .row
                .col-md-8
                  .pull-right= image_tag(@job_banner.logo.url(:thumb), width: 80) if @job_banner.logo.exists?
                  %h1.card-title= link_to @job_banner.title, @job_banner

                  %p.card-subtitle
                    = link_to @job_banner.company_name, @job_banner.company_url, target: '_blank'
                    %span.text-muted= fa_icon("external-link")
                    %span.text-muted
                      &nbsp; 
                      = distance_of_time_in_words(@job_banner.published_at, Time.now)
                      ago
                  %br
                  = Redcarpet::Markdown.new(Redcarpet::Render::HTML, extensions: {}).render(@job_banner.description).truncate(500).html_safe
                  %br
                  %p
                    %strong
                      = fa_icon("long-arrow-right")
                      = link_to " Read More", job_path(@job_banner)
                .col-md-4
                  - unless @job_banner.employer_careers_url.blank?  
                    %p
                      = link_to "Careers site", @job_banner.employer_careers_url, target: '_blank'
                      %span.text-muted= fa_icon("external-link")


                  %br
                  .card-text.skill-tags
                    - rails_tag = false
                    - if @job_banner.skill_list.any?
                      .tag
                        - @job_banner.skill_list[0..7].each do |tag|
                          %span.btn.btn-secondary.btn-tag{class: (@param_tags && @param_tags.include?(tag) ? 'pop' : nil)}
                            - if @param_tags && @param_tags.include?(tag)
                              - if @param_tags.size == 1
                                = link_to tag, root_path
                              - else
                                = link_to tag, root_path(tags: params[:tags].gsub("_#{tag}",""))
                            - elsif @param_tags
                              = link_to tag, root_path(tags: params[:tags] + '_' + tag)
                            - else
                              = link_to tag, root_path(tags: tag)

                      - if @job_banner.skill_list.size > 8
                        = '...'



  .row
    .col-md-12
      .card-columns
        - if @jobs.size > 1
          - for job in @jobs[1..-1]
            %article
              .card.job
                .card-block
                  %header
                    %h1.card-title= link_to job.title, job
                    .pull-right= image_tag(job.logo.url(:thumb), width: 60) if job.logo.exists?
                    %p.card-subtitle
                      = link_to job.company_name, job.company_url, target: '_blank'
                      %span.text-muted= fa_icon("external-link")
                      %span.text-muted
                        &nbsp; 
                        = distance_of_time_in_words(job.published_at, Time.now)
                        ago

                  %br
                  .card-text.skill-tags
                    - rails_tag = false
                    
                    - if job.skill_list.any?
                      .tag
                        - job.skill_list[0..7].each do |tag|
                          %span.btn.btn-secondary.btn-tag{class: (@param_tags && @param_tags.include?(tag) ? 'pop' : nil)}

                            - if @param_tags && @param_tags.include?(tag)
                              - if @param_tags.size == 1
                                = link_to tag, root_path
                              - else
                                = link_to tag, root_path(tags: params[:tags].gsub("_#{tag}",""))
                            - elsif @param_tags
                              = link_to tag, root_path(tags: params[:tags] + '_' + tag)
                            - else
                              = link_to tag, root_path(tags: tag)



                      - if job.skill_list.size > 8
                        = '...'



