%meta{ charset: "UTF-8"}
%title<
  - if @meta_title
    = @meta_title + ' |'
  - elsif @job && @job.title
    = @job.title + ' |'
  &nbsp;Virtual Developer Jobs

 



%link{:href => 'https://fonts.googleapis.com/css?family=Lato:400,300,700,900,100', :rel => 'stylesheet', :type => 'text/css'}
%meta{:name => "viewport", :content => "width=device-width, initial-scale=1, shrink-to-fit=no"}
- unless @meta_keywords.blank?
  %meta{ name: :keywords, content: @meta_keywords }
%meta{ name: :Description, content: @meta || "Virtual Developer Jobs is a job site focused on virtual/remote job opportunities for engineers and developers globally."}
%link{ rel: "canonical", href: "#{canonical}"}
= stylesheet_link_tag    'application', media: 'all'
= javascript_include_tag 'application'
= javascript_include_tag 'welcome'
= csrf_meta_tags
= render 'twitter'
= render "google_analytics"
